body {
  padding-top: 20px;
  background-color: rgba(192, 238, 227, 0.6);
}

.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}
.col-md-10 {
  padding-left: 0;
}

.phones {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phone__name {
  font-weight: 600;
  letter-spacing: .02em;
  font-size: 1.2em;
}

.col-md-2 {
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.filter > * {
  margin: 10px auto;
}

.sort-button {
  background-color: rgba(194, 255, 164, 0.76);
  border: 2px solid transparent;
  padding: 8px 16px;
  border-radius: 8px;
  transition: .15s;
  letter-spacing: .08em;
}
.sort-button span {
  display: inline-block;
  transition: .05s;
}
.sort-button:hover {
  border: 2px outset rgba(51, 147, 15, 0.52);
}
.sort-button:active {
  transform: scale(0.98);
}
.sort-button:active span {
  transform: scale(1.2);

  font-weight: bold;
  color: #d35654;
}
.sort-button:focus {
  outline: none;
}

.phones__btn-buy-wrapper {
  align-items: center;
  float: right;
  height: 100%;
  display: flex;
  margin: 0 1em;
}

.thumbnail {
  padding: 16px 18px 4px;
  border-radius: 8px;
}
.shopping-cart {
  display: flex;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  box-shadow: 0 0 10px 0 #ff6;
  border-radius: 10px;
  padding-right: 12px;
  width: 80%;
  margin: 30px auto;
}
.shopping-cart p {
  text-align: center;
  font-weight: 400;
  font-size: 1.28em;
  padding: 6px;
  text-shadow: 0 0 4px #ffffff;
  letter-spacing: .12em;
  cursor: default;
}
.shopping-cart__list-item {
  display: flex;
  justify-content: space-between;

  max-height: 50px;
  text-transform: capitalize;
  padding: 10px 14px;
  margin: 0 10px 10px;
  margin-left: -20px;

  border: 1px solid transparent;
  border-radius: 10px;

  background-color: rgba(177, 237, 255, 0.69);
  list-style: none;

  letter-spacing: 0.03em;

  transition: .15s;
}
.shopping-cart__list-item:hover {
  transform: scale(1.02);
  border-color: #444;
}
.shopping-cart__list-item span {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}
.shopping-cart__list-item button {
  background-color: transparent;
  border: 1px solid #aac;
  color: #888;
  border-radius: 50%;
  transition: .3s;
}
.shopping-cart__list-item button:hover {
  color: #111;
  border-color: #335;
  transform: scale(.95);
}
.shopping-cart__list-item button:focus {
  outline: none;
}
.shopping-cart__list-item button:active {
  border-color: rgba(166, 0, 0, 0.78);
}

@media (min-width: 992px) {
  .col-md-2 {
    width: 26%;
  }
  .col-md-10 {
    width: 74%;
  }
  .shopping-cart {
    width: 98%;
  }
  .filter {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .phones {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .phones li {
    flex-basis: 45%;
    padding: 18px;
  }
}
/** Detail View **/

ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  border-radius: 6px;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  transform: scale(1.02);
  cursor: pointer;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}


.viewer {
  display: flex;
}
@media (max-width: 770px) {
  .viewer {
    flex-direction: column;
  }
}

.viewer__button-wrapper {
  display: flex;
  justify-content: space-around;
}
.viewer__button {
  margin: 18px 0;
  padding: 6px 20px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  text-shadow: 0 0 4px #000;
  color: rgba(255, 255, 255, 0.95);
  background-color: #00a6c0;
  transition: .15s ease-in;
}
.viewer__button:hover {
  transform: scale(1.05);
  color: #fff;
}
.viewer__button:active {
  transform: scale(.99);
}
.viewer__button:focus {
  outline: none;
  text-decoration: none;
  color: #fff;
}
.viewer__button--add {
  background-color: rgba(107, 215, 36, 0.76);
}
.gallery {
  position: relative;
  width: 400px;
  height: 400px;
  margin-right: 20px;
  border-radius: 20px;
  border: 3px outset #977;
  box-sizing: border-box;
}
.gallery--inner {
  position: relative;
  overflow: hidden;
  width: 394px;
  height: 394px;
  border-radius: 20px;
  background: #aba;
}
.gallery-img {
  background-color: white;
  width: 400px;
  height: 100%;
  padding: 40px;
}

.gallery button {
  position: absolute;
  display: inline-block;
  width: 46px;
  height: 100%;
  font-size: 20px;
  border: none;
  background: rgba(190, 190, 190, 0.1);
  text-align: center;
  z-index: 3;
}
.gallery button:focus {
  outline: none;
}
.gallery .left {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.gallery .right {
  right: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.gallery--table {
  width: auto;
  height: 400px;
  border-collapse: collapse;
  transition: 0.5s;
}
